*{
    --dark-background: #1F2937;
}

body {
    font-family: roboto;
    margin: 0;
}

#hero-main{
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

#hero-secondary{
    font-size:18px;
    color: #E5E7EB;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.button, #call-to-action{
    background-color: #3882F6;
}

#information-header{
    font-size:36px;
    color: #1F2937;
    font-weight: 700;
}

#quote{
    font-size: 36px;
    font-style:italic;
    font-weight: 200;
    color: #1F2937;
}

#section-1{
    background-color: var(--dark-background);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5%;
}

#section-1 p{
    max-width: 52ch;
}

#section-1 div{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-width: 45ch;
}

#section-2{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

#picture-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
}

#picture-row div{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

#picture-row div p{
    max-width: 18ch;
    font-size: 18px;
    color:#1F2937;
    text-align: center;
}


#section-2 img{
    width: 165px;
    height: 165px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}
header{
    background-color: var(--dark-background);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 8px;
}

#header-links{
    font-size:18px;
    color: #E5E7EB;
    display: flex;
    flex-flow: row wrap;
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: var(--dark-background);
    color: white;
}

#section-3{
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    padding: 10%;
}

#section-3 p{
    max-width: 42ch;
    text-align: justify;
    margin-bottom: 4px;
}

#section-3 h4{
    align-self: flex-end;
    margin-top: 0;
}

#section-4{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
}

#call-to-action{
    display: flex;
    flex-flow: row wrap;
    border-radius: 8px;
    padding: 8px;
    align-items: center;
    justify-content: space-evenly;
    width: 66%;
    margin: 10%;
}

#call-to-action div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 32px;
}

#call-to-action div p, #call-to-action div h3{
    margin: 2px;
}

#section-4 button{
    border: 2px solid white;
    color: white;
    padding: 4px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    height: 36px;
    width: 120px;
}